/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}


blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



section.notis img {
    width: 5rem;
}

aside img {
    width: 3rem;
}

header {
    width: 95%;
    margin: 1rem auto;
    background-color: skyblue;
}

section.top-bar {
    background-color: moccasin;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    height: 3.5rem;
}

section.top-bar section {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    align-items: center;
}


section.top-bar section.logopart {
    margin-left: 2rem;
    display: flex;
}

section.top-bar section.logopart h1 {
    margin-left: 1rem;
}

section.top-bar section.midhead {
    justify-content: space-between;
}

section.top-bar section.headsearchform {
    flex-direction: row-reverse;
    justify-content: center;
}


section.top-bar section.midhead img:hover {
    background-color: whitesmoke;
    /* -webkit-border-radius: 8px;
    -moz-border-radius: 8px; */
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
}

section.top-bar img {
    width: 3rem;
}

section.position {}

aside {
    margin-top: 2rem;
    width: fit-content;
}

aside a {
    margin-left: 2rem;
    text-decoration: none;
    font-size: 2rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside ul li {
    margin-top: 0.5rem;
    background-color: silver;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    width: 20rem;
    height: 7rem;
    align-items: center;
    border: 1px solid silver;
}

header h1.bannar {
    font-size: 3rem;
    text-align: center;
}